<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÚjMacskadokumentum</title>
</head>
<body>
    <a href="/">Vissza a főoldalra</a>
    <form method="POST">
        <p>
            Súly: <input type="number" name="suly" required>
        </p>
        <p>
            Szem színe: <input type="text" name="szem_szin" required>
        </p>
        <p>
            <input type="submit" value="New cat">
        </p>
    </form>
</body>
</html>